@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #100d2a;
}

header{
    /* border: 2px solid red; */
    /* margin-block: 3rem; */
}

.gen-layout{
    max-width: 1000px;
    margin: auto;
}

.Top-box{
    /* border: 2px solid white; */
}

.Top-container{
    /* border: 2px solid blue; */
    margin-block: 2rem;
    display: flex;
}

.image{
    /* border: 2px solid red; */
    display: flex;
    gap: 0.2rem;
}

.image >h1{
    color: white;
    font-size: 30px;
    margin-top: 0.8rem;
    font-family: "Montserrat", serif;
}

.image >img{
    /* border: 2px solid greenyellow; */
    width: 4rem;
}

.Top-right{
    /* border: 2px solid goldenrod; */
    width: 1000px;
    margin-left: 7rem;
    align-items: center;
    gap: 3rem;
}

.Top-item{
    /* border: 2px solid blanchedalmond; */
    margin-top: 1.2rem;
    text-transform: capitalize;
    margin-left: 1.5rem;
    align-items: center;
    gap: 3rem;
}

.Top-item >a{
    color: rgb(136, 132, 132);
    /* border: 2px solid red; */
    margin-left: 1.4rem;
    text-decoration: none;
    /* gap: 2rem; */
}

.Top-item > a:hover{
    color: white;
}

.banner{
    /* border: 2px solid greenyellow; */
    margin-top: 5rem;
}

.banner-container{
    display: flex;
    /* border: 2px solid blue */
}

.banner-content{
    /* border: 2px solid blue; */
    width: 33rem;
    margin-block: 3rem;
}

.banner-content >h1{
    color: white;
    font-size: 2.5rem;
    margin-top: 5rem;
}

.banner-content >p{
    color: white;
    /* border: 2px solid red; */
    font-size: 1.5rem;
    width: 32rem;
    margin-block: 3rem;
}

.banner-content > button{
    padding: 0.8rem 2.2rem;
    border-radius: 20px;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #ffffff;
    color: #fff;
    margin-block: 1.5rem;
}

.banner-content > button:hover{
    background-color: white;
    color: black;
}

.banner-image{
    /* border: 2px solid red; */
    width: 30rem;
    height: 98vh;
    /* margin-left: 5rem; */
}

.banner-image >img{
    /* border: 2px solid gold; */
    width: 30rem;
    height: 98vh;
}

.Pro{
    /* border: 2px solid goldenrod; */
}

.product{
    /* border: 2px solid hotpink; */
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
    display: grid;
}

.productP{
    /* border: 2px solid firebrick; */
    width: 20rem;
}

.productP >h1{
    color: white;
    font-size: 3rem;
    margin-block: 3rem;
    margin-left: 8rem;
    padding-top: 2.5rem;
}

.product-box1{
        /* border: 2px solid red; */
        border-radius: 10px;
        background-image: radial-gradient(circle, #2d2078, #240a6b, #3d147b);
        width: 30rem;
        height: 50vh;
}

.product-box1 >h1{
    /* border: 2px solid red; */
    color: white;
    font-size: 2.5rem;
}

.product-box1 >h4{
    /* border: 2px solid red; */
    color: white;
    font-size: 1.8rem;
    margin-block: 1.5rem;
}

.product-box1 >button{
    padding: 0.8rem 1.5rem;
    border: 1px solid white;
    border-radius: 20px;
    background-color: transparent;
    cursor: pointer;
    color: #fff;
    margin-block: 1rem;
}

.product-box1 >button:hover{
    background-color: white;
    color: #000;
}

.product-box1 >a{
    color: rgb(136, 132, 132);
    /* border: 2px solid red; */
    margin-left: 1.4rem;
    text-decoration: none;
    /* gap: 2rem; */
}

.product-box1 >a:hover{
    color: white;
}

.product-box2{
        /* border: 2px solid red; */
        border-radius: 10px;
        background-image: radial-gradient(circle, #2d2078, #240a6b, #3d147b);
        width: 30rem;
        height: 50vh;
}

.product-box2 >h1{
    /* border: 2px solid red; */
    color: white;
    font-size: 2.5rem;
}

.product-box2 >h4{
    /* border: 2px solid red; */
    color: white;
    font-size: 1.8rem;
    margin-block: 1.5rem;
}

.product-box2 >button{
    padding: 0.8rem 1.5rem;
    border: 1px solid white;
    border-radius: 20px;
    background-color: transparent;
    cursor: pointer;
    color: #fff;
    margin-block: 1rem;
}

.product-box2 >button:hover{
    background-color: white;
    color: #000;
}

.product-box2 >a{
    color: rgb(136, 132, 132);
    /* border: 2px solid red; */
    margin-left: 1.4rem;
    text-decoration: none;
    /* gap: 2rem; */
}

.product-box2 >a:hover{
    color: white;
}

.product-box3{
        /* border: 2px solid red; */
        border-radius: 10px;
        background-image: radial-gradient(circle, #2d2078, #240a6b, #3d147b);
        width: 30rem;
        height: 50vh;
}

.product-box3 >h1{
    /* border: 2px solid red; */
    color: white;
    font-size: 2.5rem;
}

.product-box3 >h4{
    /* border: 2px solid red; */
    color: white;
    font-size: 1.8rem;
    margin-block: 1.5rem;
}

.product-box3 >button{
    padding: 0.8rem 1.5rem;
    border: 1px solid white;
    border-radius: 20px;
    background-color: transparent;
    cursor: pointer;
    color: #fff;
    margin-block: 1rem;
}

.product-box3 >button:hover{
    background-color: white;
    color: #000;
}

.product-box3 >a{
    color: rgb(136, 132, 132);
    /* border: 2px solid red; */
    margin-left: 1.4rem;
    text-decoration: none;
    /* gap: 2rem; */
}

.product-box3 >a:hover{
    color: white;
}

.product-box4{
    /* border: 2px solid red; */
    border-radius: 10px;
    background-image: radial-gradient(circle, #2d2078, #240a6b, #3d147b);
    width: 30rem;
    height: 50vh;
}

.product-box4 >h1{
    /* border: 2px solid red; */
    color: white;
    font-size: 2.5rem;
}

.product-box4 >h4{
    /* border: 2px solid red; */
    color: white;
    font-size: 1.8rem;
    margin-block: 1.5rem;
}

.product-box4 >button{
    padding: 0.8rem 1.5rem;
    border: 1px solid white;
    border-radius: 20px;
    background-color: transparent;
    cursor: pointer;
    color: #fff;
    margin-block: 1rem;
}

.product-box4 >button:hover{
    background-color: white;
    color: #000;
}

.product-box4 >a{
    color: rgb(136, 132, 132);
    /* border: 2px solid red; */
    margin-left: 1.4rem;
    text-decoration: none;
    /* gap: 2rem; */
}

.product-box4 >a:hover{
    color: white;
}

.congnite{
    /* border: 2px solid red; */
    margin-block: 3rem;
}

.conginited{
    /* border: 2px solid goldenrod; */
    display: flex;
}

.container{
    /* border: 2px solid greenyellow; */
    width: 33rem;
}

.container >h1{
    /* border: 2px solid chocolate; */
    width: 20rem;
    color: white;
    font-size: 35px;
    margin-top: 8rem;
}

.container >h3{
    /* border: 2px solid red; */
    width: 15rem;
    color: white;
    font-size: 18px;
    margin-block: 2rem;
}

.container >p{
    /* border: 2px solid red; */
    width: 32rem;
    color: white;
    font-size: 17px;
    margin-block: 2rem;
}

.container >button{
    padding: 0.8rem 1.5rem;
    border: 1px solid white;
    border-radius: 50px;
    background-color: transparent;
    cursor: pointer;
    color: #fff;
    margin-block: 1rem;
}

.container >button:hover{
    background-color: white;
    color: black;
}

.Box{
    /* border: 2px solid blue; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}

.Con1{
    /* border: 2px solid red; */
    height: 40vh;
    width: 14rem;
    background-image: url(./image/Ai.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 30px;
}

.Con2{
    /* border: 2px solid red; */
    height: 40vh;
    width: 14rem;
    background-image: url(./image/images\ \(2\).jpg);
    background-position: center;
    background-size: cover;
    border-radius: 30px;
}

.Con3{
    /* border: 2px solid red; */
    height: 40vh;
    width: 14rem;
    background-image: url(./image/Cube.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 30px;
}

.Con4{
    /* border: 2px solid red; */
    height: 40vh;
    width: 14rem;
    background-image: url(./image/images\ \(3\).jpg);
    background-position: center;
    background-size: cover;
    border-radius: 30px;
}

.Why{
    /* border: 2px solid blue; */
    margin-block: 2rem;
}

.Why >h1{
    /* border: 2px solid white; */
    width: 17rem;
    font-size: 37px;
    color: white;
    margin-left: 8.4rem;
    margin-block: 2rem;
}

.whyS{
    /* border: 2px solid red; */
    display: flex;
}

.contain{
    /* border: 2px solid indigo; */
}

.why1{
    border: 1px solid white;
        background-color: rgba(33, 33, 33, 0.858);
    width: 28rem;
    border-radius: 26px;
    height: 43vh;
}

.why1 >h3{
    /* border: 2px solid darkgoldenrod; */
    width: 16rem;
    font-size: 20px;
    margin-left: 2.5rem;
    color: white;
    margin-block:1.5rem;
}

.why1 >ul{
    /* border: 2px solid salmon; */
}

.why1 >ul >li{
    /* border: 2px solid saddlebrown; */
    color: white;
    margin-left: 3.3rem;
    width: 18rem;
    margin-block: 1rem;
}

.why2{
    border: 1px solid white;
    background-color: rgba(33, 33, 33, 0.858);
    width: 28rem;
    border-radius: 26px;
    margin-block: 2rem;
    height: 19vh;
}

.why2 >h3{
    /* border: 2px solid darkgoldenrod; */
    width: 16rem;
    font-size: 20px;
    margin-left: 2.5rem;
    margin-top: 2rem;
    color: white;
}

.const{
    /* border: 2px solid white; */
    margin-left: 1.5rem;
}

.why3{
    border: 1px solid white;
    background-color: rgba(33, 33, 33, 0.858);
    width: 28rem;
    border-radius: 26px;
    height: 19vh;
}

.why3 >h3{
    /* border: 2px solid darkgoldenrod; */
    width: 16rem;
    font-size: 20px;
    margin-left: 2.5rem;
    margin-top: 2rem;
    color: white;
}

.why4{
    border: 1px solid white;
    background-color: rgba(33, 33, 33, 0.858);
    width: 28rem;
    border-radius: 26px;
    height: 19vh;
    margin-top: 1.8rem;
}

.why4 >h3{
    /* border: 2px solid darkgoldenrod; */
    width: 16rem;
    font-size: 20px;
    margin-left: 2.5rem;
    margin-top: 2rem;
    color: white;
}

.why5{
    border: 1px solid white;
    background-color: rgba(33, 33, 33, 0.858);
    width: 28rem;
    border-radius: 26px;
    margin-top: 2.3rem;
    height: 19vh;
}

.why5 >h3{
    /* border: 2px solid darkgoldenrod; */
    width: 16rem;
    font-size: 20px;
    margin-left: 2.5rem;
    margin-top: 1.2rem;
    color: white;
}

.industry-container{
    /* border: 2px solid red; */
    margin-block: 2rem;
}

.industry-container >h1{
    /* border: 2px solid wheat; */
    width: 20rem;
    font-size: 40px;
    color: white;
    margin-left: 8rem;
    margin-block: 1.5rem;
}

.industry-content{
    /* border: 2px solid darkorange; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.finance-box{
    /* border: 2px solid darkred; */
    margin-block: 1rem;
    width: 18.3rem;
}

.finance-image{
    /* border: 2px solid firebrick; */
    height: 48vh;
    width: 18rem;
    background-image: url(./image/download\ \(1\).jpg);
    background-position: center;
    background-size: cover;
    border-radius: 30px;
}

.finance-box >h1{
    /* border: 2px solid salmon; */
    width: 10rem;
    font-size: 30px;
    color: purple;
    margin-block: 1rem;
}

.finance-box >p{
    /* border: 2px solid salmon; */
    width: 16em;
    font-size: 18px;
    color: white;
    margin-block: 1rem;
}

.finance-box >button{
    padding: 0.6rem 1.5rem;
    border: 1px solid white;
    border-radius: 50px;
    background-color: transparent;
    cursor: pointer;
    color: #fff;
    margin-top: 2.5rem;
}

.finance-box >button:hover{
    background-color: white;
    color: #000;
}

.health-box{
    /* border: 2px solid darkred; */
    width: 18.3rem;
    margin-block: 1rem;
}

.health-image{
    /* border: 2px solid firebrick; */
    height: 48vh;
    width: 18rem;
    background-image: url(./image/download\ \(3\).jpg);
    background-position: center;
    background-size: cover;
    border-radius: 30px;
}

.health-box >h1{
    /* border: 2px solid salmon; */
    width: 10rem;
    color: purple;
    font-size: 30px;
    margin-block: 1rem;
}

.health-box >p{
    /* border: 2px solid salmon; */
    width: 16em;
    font-size: 18px;
    color: white;
    margin-block: 1rem;
}

.health-box >button{
    padding: 0.6rem 1.5rem;
    border: 1px solid white;
    border-radius: 50px;
    background-color: transparent;
    cursor: pointer;
    color: #fff;
    margin-block: 1rem;
}

.health-box >button:hover{
    background-color: white;
    color: #000;
}

.cities-box{
    /* border: 2px solid darkred; */
    width: 18.3rem;
    margin-block: 1rem;
}

.cities-image{
    /* border: 2px solid firebrick; */
    height: 48vh;
    width: 18rem;
    background-image: url(./image/download\ \(2\).jpg);
    background-position: center;
    background-size: cover;
    border-radius: 30px;
}

.cities-box >h1{
    /* border: 2px solid salmon; */
    width: 10.5rem;
    font-size: 30px;
    color: purple;
    margin-block: 1rem;
}

.cities-box >p{
    /* border: 2px solid salmon; */
    width: 16em;
    font-size: 18px;
    color: white;
    margin-block: 1rem;
}

.cities-box >button{
    padding: 0.6rem 1.5rem;
    border: 1px solid white;
    border-radius: 50px;
    background-color: transparent;
    cursor: pointer;
    color: #fff;
    margin-block: 1rem;
}

.cities-box >button:hover{
    background-color: white;
    color: #000;
}

.manufacture-box{
    /* border: 2px solid darkred; */
    width: 18.3rem;
    margin-block: 1rem;
}

.manufacture-image{
    /* border: 2px solid firebrick; */
    height: 48vh;
    width: 18rem;
    background-image: url(./image/download\ \(4\).jpg);
    background-position: center;
    background-size: cover;
    border-radius: 30px;
}

.manufacture-box >h1{
    /* border: 2px solid salmon; */
    width: 18rem;
    font-size: 25px;
    color: purple;
    margin-block: 1rem;
}

.manufacture-box >p{
    /* border: 2px solid salmon; */
    width: 16em;
    font-size: 18px;
    color: white;
    margin-block: 1rem;
}

.manufacture-box >button{
    padding: 0.6rem 1.5rem;
    border: 1px solid white;
    border-radius: 50px;
    background-color: transparent;
    cursor: pointer;
    color: #fff;
    margin-block: 1rem;
}

.manufacture-box >button:hover{
    background-color: white;
    color: #000;
}

.supply-box{
    /* border: 2px solid darkred; */
    width: 18.3rem;
    margin-block: 1rem;
}

.supply-image{
    /* border: 2px solid firebrick; */
    height: 48vh;
    width: 18rem;
    background-image: url(./image/download\ \(5\).jpg);
    background-position: center;
    background-size: cover;
    border-radius: 30px;
}

.supply-box >h1{
    /* border: 2px solid salmon; */
    width: 18rem;
    font-size: 25px;
    color: purple;
    margin-block: 1rem;
}

.supply-box >p{
    /* border: 2px solid salmon; */
    width: 16em;
    font-size: 18px;
    color: white;
    margin-block: 1rem;
}

.supply-box >button{
    padding: 0.6rem 1.5rem;
    border: 1px solid white;
    border-radius: 50px;
    background-color: transparent;
    cursor: pointer;
    color: #fff;
    margin-block: 1rem;
}

.supply-box >button:hover{
    background-color: white;
    color: #000;
}

.part-container{
    /* border: 2px solid red; */
}

.part-container >h1{
    /* border: 2px solid salmon; */
    width: 15rem;
    font-size: 35px;
    margin-left: 8rem;
    color: white;
}

.part-container >h4{
    /* border: 2px solid salmon; */
    width: 23rem;
    font-size: 19px;
    margin-block: 1rem;
    margin-left: 8rem;
    color: white;
}

.who{
    display: flex;
    gap: 2rem;
}

.part-content1{
    /* border: 2px solid red; */
    background-color: rgb(39, 39, 39);
    height: 30vh;
    width: 11.5rem;
    background-image: url(./image/download\ \(1\).png);
    background-position: center;
    background-size: cover;
}

.part-content2{
    /* border: 2px solid red; */
    background-color: rgb(39, 39, 39);
    height: 30vh;
    width: 11.5rem;
    background-image: url(./image/download\ \(2\).png);
    background-position: center;
    background-size: cover;
}

.part-content3{
    /* border: 2px solid red; */
    background-color: rgb(39, 39, 39);
    height: 30vh;
    width: 11.5rem;
}

.part-content3 >img{
    /* border: 2px solid blue; */
    height: 25vh;
    margin-top: 1rem;
    width: 11rem;
}

.part-content4{
    /* border: 2px solid red; */
    height: 30vh;
    width: 11.5rem;
    background-image: url(./image/download\ \(4\).png);
    background-color: rgb(39, 39, 39);
    background-position: center;
    background-size: cover;
}
.part-content5{
    /* border: 2px solid red; */
    height: 30vh;
    width: 11.5rem;
    background-image: url(./image/download\ \(2\).png);
    background-color: rgb(39, 39, 39);
    background-position: center;
    background-size: cover;
}

.box{
    border-bottom: 2px solid white;
    /* display: flex; */
    margin-block: 5rem;
    height: 50vh;
}

.contents{
    /* border: 2px solid firebrick; */
    background-image: radial-gradient(circle, #1f1848, #180c39, #100620);
    height: 44vh;
    margin-left: 1rem;
    width: 60rem;
    display: flex;
}

.containers{
    /* border: 2px solid green; */
    height: 45vh;
}

.containers >h1{
    /* border: 2px solid blueviolet; */
    width: 30rem;
    height: 30vh;
    margin-left: 4rem;
    margin-top: 5rem;
    font-size: 30px;
    color: white;
}

.btn >button{
    padding: 0.6rem 1.5rem;
    border: 1px solid white;
    border-radius: 50px;
    margin-left: 14rem;
    margin-top: 7rem;
    background-color: transparent;
    cursor: pointer;
    color: #fff;
    /* margin-block: 1rem; */
}

.btn >button:hover{
    background-color: white;
    color: #000;
}

.cover{
    /* border: 2px solid rgb(87, 0, 0); */
    display: flex;
    gap: 2rem;
}

.box1{
    /* border: 2px solid red; */
    height: 75vh;
    width: 28rem;
}

.box1 >h1{
    /* border: 2px solid blue; */
    width: 20rem;
    font-size: 30px;
    color: white;
    margin-block: 2rem;
}

.box1 >p{
    /* border: 2px solid blue; */
    width: 25.2rem;
    font-size: 25px;
    margin-block: 2rem;
    color: white;
}

.box1 >button{
    padding: 0.6rem 1.5rem;
    border: 1px solid white;
    border-radius: 50px;
    background-color: transparent;
    cursor: pointer;
    color: #fff;
    margin-block: 1rem;
}

.box1 >button:hover{
    background-color: white;
    color: #000;
}

.box1 >h2{
    width: 20rem;
    font-size: 28px;
    color: white;
    margin-block: 2rem;
}

.box1_media >img{
    /* border: 2px solid red; */
    display: flex;
    /* gap: 4rem; */
}

.box1-content{
    /* border: 2px solid goldenrod; */
}

.box1_media{
    /* border: 2px solid blue; */
    display: flex;
    color: black;
    width: 16rem;
    align-items: center;
    /* justify-content: space-between; */
    gap: 3rem;
}

.box2{
    /* border: 2px solid darkblue; */
}

.box2 >h1{
    /* border: 2px solid blue; */
    width: 20rem;
    font-size: 35px;
    color: white;
    margin-block: 2rem;
}

.box2 >h2{
    width: 20rem;
    font-size: 25px;
    color: white;
    margin-block: 2rem;
}

.box3 >h1{
    /* border: 2px solid blue; */
    width: 10rem;
    font-size: 35px;
    color: white;
    margin-block: 2rem;
}

.box3 >h2{
    width: 20rem;
    font-size: 25px;
    color: white;
    margin-block: 2rem;
}

.futar{
    /* border: 2px solid red; */
    display: flex;
    gap: 25rem;
}

.futar >h1{
    width: 20rem;
    font-size: 25px;
    color: white;
    margin-block: 1rem;
}

.futar >h2{
    width: 20rem;
    font-size: 25px;
    color: white;
    margin-block: 1rem;
}